:root{
    --bgBlack:#000000;
    --textWhite:#FFFFFF;
    --borderGray:#E5E5E5;
    --bgButton:#008387;
    --morado: #520480;
    --amarillo: #f7f30a;
    --rojo: #ff1100;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}